*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, sans-serif;
background:#0f172a;
color:white;

```
display:flex;
justify-content:center;
align-items:center;

min-height:100vh;
padding:20px;
```

}

.contenedor{
width:100%;
max-width:700px;

```
background:#1e293b;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.3);
```

}

h1{
text-align:center;
margin-bottom:20px;
}

/* FORMULARIO */

form{
display:flex;
gap:10px;
margin-bottom:20px;
}

input,
select,
button{
padding:12px;
border:none;
border-radius:10px;
}

input,
select{
flex:1;
background:#334155;
color:white;
}

button{
cursor:pointer;
background:#2563eb;
color:white;
transition:.3s;
}

button:hover

/* BOTONES FILTRO */

.botones{
display:flex;
gap:10px;
margin-bottom:20px;
}

/* TAREAS */

.tarea{
background:#334155;

```
padding:15px;

border-radius:10px;

margin-bottom:10px;

display:flex;
justify-content:space-between;
align-items:center;
```

}

.info{
display:flex;
flex-direction:column;
gap:5px;
}

.alta{
color:#ef4444;
}

.media{
color:#f59e0b;
}

.baja{
color:#22c55e;
}

.completada{
text-decoration:line-through;
opacity:.6;
}

.acciones{
display:flex;
gap:10px;
}

.btn-eliminar{
background:#ef4444;
}

.btn-check{
background:#22c55e;
}

/* RESPONSIVE */

@media(max-width:700px){

```
form{
    flex-direction:column;
}

.tarea{
    flex-direction:column;
    align-items:flex-start;
    gap:15px;
}
```

}
